body{
	background: linear-gradient(to right, rgb(223, 194, 159), rgb(207, 175, 205));
}

header{
		box-shadow: 10px 10px 50px gray;
		border: 5px solid violet;
		color: purple;
}
.qq{
	font-size: 40px;
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
 
 
 
}
#sp1{
		background:linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
 

}
.navbar-light .navbar-brand:hover{
		color:red;
}

.navbar-light .navbar-nav .nav-link:hover{
	color:red;
}
.dropdown-item:hover{
	color:red;
}
.jumbotron{
	margin :7px 5px 0px 5px;
}
.awm{
	margin-top: 0px;
}
img{
	height: 400px;
	width: 400px;
}
#carouselExampleIndicators{
	margin:20px 0px 0px 0px;
	box-shadow: 10px 10px 50px gray;
}
.footer{
	display: flex;
	justify-content: center;
	/*background: #8E2C63;*/
	background: #012447;
	color: white;
	padding: 13px;
	margin-top: 30px;
	/*margin-bottom: 0px;*/
	height:55px;
  }
.card{
  margin-top:20px;
  margin-left: 50px;
 }
.card-img-top{
	border: 5px  #C16845;
	border-style: ridge;


	-moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
	

}

/*card-img-top:hover{
	transform: scale(1.1);
		transition: all;
		transition-duration: 1s;
		border-radius: 70px 0px 70px;
		border: 5px solid orange;
}*/
.card-img:hover{
		transform: scale(1.1);
		transition: all;
		transition-duration: 1s;
		border-radius: 70px 0px 70px;
		border: 5px solid orange;
}

.akm{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-right: 83px;
	margin-left: 40px;
	
}




.card-img-top:hover{
		transform: scale(1.1);
		transition: all;
		transition-duration: 0.8s;
		border-radius: 70px 0px 70px;
		border: 5px solid red;
		box-shadow: 10px 10px 5px gray;

		-moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.video{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	/*margin-left :50px; 
	margin-top: 20px;
}*/
}				  
/*#chaman>.card-img-top{
	-moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}*/
.chaman{

-moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.chaman:hover{
	-moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.credit{
	display: flex;
	justify-content: center;
	font-family: fantasy;
	font-size: 30px;
	color:red;
}
